attrs==21.4.0
boto3==1.21.6
botocore==1.24.6
cached-property==1.5.2
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
datapackage==1.15.2
et-xmlfile==1.1.0
Flask==2.0.3
Flask-Cors==3.0.10
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
GeoAlchemy2==0.11.1
greenlet==1.1.2
h3==3.7.4
idna==3.3
ijson==3.1.4
isodate==0.6.1
itsdangerous==2.1.0
Jinja2==3.0.3
jmespath==0.10.0
jsonlines==3.0.0
jsonpointer==2.2
jsonschema==4.4.0
linear-tsv==1.1.0
MarkupSafe==2.1.0
openpyxl==3.0.9
packaging==21.3
psycopg2==2.9.3
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.19.2
requests==2.27.1
rfc3986==2.0.0
s3transfer==0.5.1
Shapely==1.8.1.post1
six==1.16.0
SQLAlchemy==1.4.31
tableschema==1.20.2
tabulator==1.53.5
unicodecsv==0.14.1
urllib3==1.26.8
Werkzeug==2.0.3
xlrd==2.0.1
