@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap");

:root {
  --primary-green: rgb(49, 94, 38);
  --hover-green: rgb(131, 158, 124);
  --text-primary: #000;
  --primary-background: #f2f5f1;
}

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-background);
}
